<h1>Employee Management system</h1>

<nav>
  <ul>
    <li><a routerLink='/employees' routerLinkActive='active'>Employees List</a></li>
    <li><a routerLink='/addEmployee' routerLinkActive='active'>Add Employee</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>