<h3>Employee List</h3>
<label><b>Filter By:</b></label>&nbsp;
<input type="text" id="filter" [(ngModel)]="searchText" name="searchText" placeholder="searchByName"/>
<br/>
<label id="count">Total Number of Employees:{{(employees | searchByName: searchText).length}}
  <br/>
</label>
<table border="">
  <thead>
      <th>EmpID</th>
      <th>Name</th>
      <th>Location</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Edit</th>
      <th>Delete</th>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees | searchByName:searchText; index as i; last as last">
      <td><a [routerLink]="['/details',employee.id]">{{employee.id}}</a></td>
      <td [attr.id]="'name'+(i+1)">{{employee.name | uppercase }}</td>
      <td [attr.id]="'loc'+(i+1)">{{employee.location }}</td>
      <td [attr.id]="'email'+(i+1)">{{employee.email }}</td>
      <td [attr.id]="'mob'+(i+1)">{{employee.mobile }}</td>
      <td><a [routerLink]="['/editEmployee',employee.id]" class="btn btn-secondary">Edit{{i+1}}</a></td>
      <td><a [routerLink]="['/deleteEmployee',employee.id]" class="btn btn-danger">Delete{{i+1}}</a></td>
    </tr>
  </tbody>
</table>